/*This a css file used to style html pages.*/
.class1
{
	font-weight: bold;
	color: #9C27B0;
}

.class2
{
	background-color: Ghostwhite;
}

.class3
{
	background-color: Lightgrey;
}

.icon-size
{
	font-size: 100px;
}
