<!Doctype html>
<html>
	<head>
		<meta charset="utf-8">
    		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    		<meta name="viewport" content="width=device-width, initial-scale=1">		

		<title>Instagram Login</title>
		<!--Font family-->
		<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		<style>
		
		body{
		background:url('https://goo.gl/9hu6rw');
		background-size:cover;
		color:white;
		}
		h1{
		font-family:'Pacifico', cursive;
		margin-top: 150px;
		}
		.label-font{
		font-family: 'Roboto', sans-serif;
		}
		a{
		padding-bottom: -100px;
		}
		#b{
		padding-right: 30px;
		}
		</style>
		
	</head>
	<body> 
		
			<h1 align=center> Instagram Clone</h1>
			<h3 align=center>Log-in</h3>
			<h3 align=center> {{invalid}}</h3>
			<h3 align=center>{{invalid_password}}</h3>
		
		<div align=center id="a">
			<form method="post" >
				{% csrf_token %}
					<table>
						
						<tr>
							<td><label for="Username" class="label-font">User-name</label></td>
							<td><input type="text" id="Username" name="username" placeholder="          username" value="{{username}}"></td>
						</tr>
						
						<tr>
							<td><label for="pass" class="label-font">Password</label></td>
							<td><input type="password" id="pass" name="password" placeholder="           *******" value="{{password}}"></td>
						</tr>
						
						<tr>
							<td></td>
							<td id="b"><p style="text-align: center;"><input class="btn btn-default" type="submit" value="Submit"></p></td>
							
						</tr>
					</table>
		</form>
		</div>
	

		
	</body>
</html>